body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-size: 16px;
  background-color: #ffffff;
  font-style: normal;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

/* HEADER */

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  background-color: #fff;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 76px;
  display: flex;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-grey {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-menu-item:first-child .header-menu-link {
  color: #404bbf;
  position: relative;
}

.header-menu-item:first-child .header-menu-link::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 48px;
  border-radius: 2px;
  background-color: #404bbf;
  left: 0;
  bottom: -1px;
}

.header-menu-link {
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  align-items: center;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}

.header-container {
  display: flex;
  align-items: center;
}

.contacts {
  font-style: normal;
  margin-left: auto;
}

.contacts .link {
  color: #434455;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts .link:hover,
.contacts .link:focus {
  color: #404bbf;
}

.contacts-links {
  justify-content: flex-end;
  display: flex;
  gap: 40px;
  align-items: center;
}

.hero {
  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/peopleoffice.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 188px;
  padding-bottom: 188px;
  margin: 0 auto;
}

.hero-container {
  text-align: center;
}

.hero-title {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 72px;
}

/* BUTTON */

.btn-order {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-order:focus,
.btn-order:hover {
  background-color: #404bbf;
}

/* FEATURES */

.features {
  background-color: #fff;
  padding: 96px 0;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.svg-icons {
  display: none;
  
}

.features-item {
  width: 100%;
}

.features-cubtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.features-text {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Section_2_employees */

.employees {
  padding: 96px 0;
  background-color: #f4f4fd;
}

.employees-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.employees-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  max-width: 552px;
  margin: 0 auto;
}

.employees-item {
  width: 100%;
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
   margin: 0 auto;
}

.employees-info {
  padding: 32px 0; 
  
}

.employees-img {
  width: 100%;
  margin: 0 auto;
}

.employees-name {
  text-align: center;
  margin-bottom: 8px;
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.employees-position {
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.container-blue {
  border-radius: 50px;
  background-color: #4d5ae5;
}
.container-svg {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.soc-network-link:hover,
.soc-network-link:focus {
  background-color: #404bbf;
}

.soc-network-link {
  display: flex;
  background-color: #4d5ae5;
  fill: #f4f4fd;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Section_3_OUR PORTFOLIO */

.benefits {
  padding-top: 96px;
  padding-bottom: 96px;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  margin: 0;
  padding: 0;
  list-style: none;
  row-gap: 48px;
}
.benefits-name {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.benefits-item {
  background-color: #fff;
  width: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.benefits-item:hover {
  border: 1px solid #f4f4fd;
  background-color: #fff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.benefits-item:hover .benefits-cover-text {
  transform: translateY(0);
}

.benefits-title {
  margin-bottom: 72px;
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}

.benefits-cover-wrap {
  position: relative;
  overflow: hidden;
}

.benefits-cover-text {
  position: absolute;
  height: 100%;
  top: 0;
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px 164px 32px;
  background-color: #4d5ae5;
  transform: translateY(100%);
  padding: 40px 32px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.benefits-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.benefits-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* FOOTER */

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.container-footer {
  display: flex;
  align-items: baseline;
}
.footer-info {
  margin-right: 120px;
}

.footer-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.logo-white {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}

.container-footer-svg {
  display: block;
  align-items: center;
  justify-content: center;
}

.title-svg {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-svg {
  display: flex;
  gap: 16px;
  padding: 0;
  margin: 0;
}

.footer-svg-list :hover,
.footer-svg-list :focus {
  background-color: #31d0aa;
}

.soc-network-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-subscribe {
  margin-left: 80px;
}

.footer-form {
  display: flex;
  justify-content: flex-end;
  gap: 24px;
}

.footer-form-input {
  color: #ffffff;
  width: 264px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 8px 0 8px 16px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-form-input::placeholder {
  color: #ffffff;
}

.footer-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 16px;
  min-width: 165px;
  height: 40px;
}

.button {
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  gap: 16px;
}

.footer-icon {
  fill: #ffffff;
  margin-left: 16px;
}

.backdrop .is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2e2f4266;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 72px;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
}

.modal-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  margin-left: auto;
  margin-bottom: 24px;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid #0000001a;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  background-color: #404bbf;
  border: none;
}

.modal-button .modal-button-icons {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover .modal-button-icons,
.modal-button:focus .modal-button-icons {
  fill: #ffffff;
}

.modal-title {
  text-align: center;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-label {
  display: block;
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.input-wrap {
  position: relative;
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.modal-comment {
  margin-bottom: 16px;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
  border-color: #4d5ae5;
}

.modal-field-check {
  margin-bottom: 24px;
}

.check-privacy {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.check-mark-privacy {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.modal-check:checked + .check-privacy > .check-mark-privacy {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.check-privacy a {
  color: #4d5ae5;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
}

.modal-btn {
  padding: 16px 32px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  background-color: #4d5ae5;
  border: none;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px 0px #00000026;
}

@media screen and (min-width:768px) {
  .container {
    max-width: 768px;
  }

.hero {

}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  margin-bottom: 36px;
}

.features-list {
  gap: 24px;
  }

 .features-item {
   width: calc((100% - 24px) / 2);
 }

 .employees-list {
  row-gap: 64px;
 }

.employees-item {
  flex-basis: calc((100% - 24px) / 2);
}
.benefits-list {
row-gap: 72px;
}
.benefits-item {
  width: calc((100% - 24px) / 2);
}
}

@media screen and (min-width:1158px) {
  .container {
      max-width: 1158px;
      padding-left: 15px;
      padding-right: 15px;
    }
   
  .hero-title {
      font-size: 56px;
       line-height: 1.07;
      margin-bottom: 48px;
        }
  .svg-icons {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background-color: #f4f4fd;
    width: 100%;
    height: 112px;
    margin-bottom: 8px;
  }

    .features-item {
      width: calc((100% - 72px) / 4);
    }

.employees-list {
  flex-wrap: nowrap;
  gap: 24px;
  max-width: 100%;
}

.benefits {
  padding-top: 120px;
  padding-bottom: 120px;
}

.benefits-item{
 width: calc((100% - 24px * 2) / 3);
}
}